<router-outlet></router-outlet>

<h2>Seleccionar pasajero</h2>
<div>
    <button mat-raised-button mat-button-base mat-primary color="primary" id="habilitarcrearpasajero" (click)="habilitarCrearPasajero()">CrearPasajero</button>
</div>

<div *ngIf="crearPasajero">
    <h3>Formulario para creacion de pasajero</h3>

    <form [formGroup]="inputFormCrear" (ngSubmit)="onCrearPasajero()">

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Numero de documento</mat-label>
                    <input matInput  id="inputCrearNroDoc" type="text" formControlName="inputCrearNroDoc">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Tipo de documento</mat-label>
                <mat-select id="inputcreartipodocvalue" formControlName="inputCrearTipoDoc">
                    <mat-option value="1">Carnet de identidad</mat-option>
                    <mat-option value="2">Pasaporte</mat-option>
                  </mat-select>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                    <input matInput id="inputCrearNombre" type="text" formControlName="inputCrearNombre">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Primer Apellido</mat-label>
                    <input matInput id="inputCrearPrimerApellido" type="text" formControlName="inputCrearPrimerApellido">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Segundo Apellido</mat-label>
                    <input matInput id="inputCrearSegundoApellido" type="text" formControlName="inputCrearSegundoApellido">
            </mat-form-field>
        </div>
    
        <button mat-raised-button mat-button-base mat-primary color="primary" id="botoncrear" class="button" type="submit">Crear</button>
    
    </form>

</div>


<form [formGroup]="inputForm" (ngSubmit)="onBuscarPasajero()">

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Numero de documento</mat-label>
                <input matInput id="inputNroDoc" type="text" formControlName="inputNroDoc">
        </mat-form-field>
    </div>
    <div>
       
          <mat-form-field appearance="fill">
            <mat-label>Tipo de documento</mat-label>
            <mat-select id="inputbuscartipodoc" formControlName="inputTipoDoc">
                <mat-option id="tipodoc1" value="1">Carnet de identidad</mat-option>
                <mat-option id="tipodoc2" value="2">Pasaporte</mat-option>
              </mat-select>
          </mat-form-field>
    </div>
    

    <button mat-raised-button mat-button-base mat-primary color="primary" id="botonbuscarpasajero" class="button" type="submit">Buscar</button>

</form>




<h3 *ngIf="mostrarPasajeroSeleccionado" >Pasajero seleccionado: {{pasajeroEncontrado.nombre}} </h3>


<table border="2">
    <thead>
        <tr>
            <th>nombre</th>
            <th>primerApellido</th>
            <th>segundoApellido</th>
            <th>nroDoc</th>
            <th>tipoDoc</th>
            <th>accion</th>
        </tr>
    </thead>
    <tbody id="tbodypasajero">
        <tr *ngIf="pasajeroEncontrado.pasajeroId">
            <td>{{pasajeroEncontrado.nombre}}</td>
            <td>{{pasajeroEncontrado.primerApellido}}</td>
            <td>{{pasajeroEncontrado.segundoApellido}}</td>
            <td>{{pasajeroEncontrado.nroDoc}}</td>
            <td>{{pasajeroEncontrado.tipoDoc}}</td>
            <td><button mat-raised-button mat-button-base mat-primary color="primary" id="tablabotonseleccionarpasajero" (click)="onSeleccionar()">Seleccionar</button></td>
        </tr>
    </tbody>
</table>

<h3 *ngIf="vuelo.vueloId" >Vuelo seleccionado: {{vuelo.vueloId}} con destino a {{vuelo.destino}}</h3>