<router-outlet></router-outlet>
<h2>Realizar reserva</h2>

<div>
    <h3>Formulario para creacion de reserva</h3>

    <form [formGroup]="inputFormCrear" (ngSubmit)="onCrearReserva()">

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Numero de reserva</mat-label>
                    <input matInput id="inputCrearNroReserva" type="text" formControlName="inputCrearNroReserva">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Precio</mat-label>
                    <input matInput id="inputCrearPrecio" type="text" formControlName="inputCrearPrecio">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Cantidad de pasajeros</mat-label>
                    <input matInput id="inputCrearCantidadPasajero" type="text" formControlName="inputCrearCantidadPasajero">
            </mat-form-field>
        </div>
        <div *ngIf="vuelo.vueloId">
            <label>
                Destino {{vuelo.destino}} con disponibilidad de {{vuelo.cantidadAsientoDisponible}}
            </label>
        </div>
        <div *ngIf="pasajero.pasajeroId">
            <label>
                Pasajero {{pasajero.nombre}} {{pasajero.primerApellido}} con documento de identidad {{pasajero.nroDoc}}
            </label>
        </div>
    
        <button mat-raised-button mat-button-base mat-primary color="primary" id="botoncrearreserva" class="button" type="submit">Crear</button>
    
    </form>

</div>